@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$menu-color: #000;

@mixin header-link ($hover: true) {
    color: $menu-color;
    text-decoration: none;
    letter-spacing: 2px;

    @if $hover {
        &:hover {
            border-bottom: solid 2px $menu-color;
        }
    }
}

.header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px; 
    font-family: 'Roboto', sans-serif;
    background-color: #FFDD2F;

    &__logo {
        @include header-link(false);
    }

    &__nav-list {
        display: flex;
        list-style: none;
        column-gap: 20px;
    }

    &__item-link {
        @include header-link;

        &--is-active {
            border-bottom: solid 2px $menu-color;
        }
    }
}